html, body {
  margin: 0;
  font-family: "Karla";
  color: #000000;
}

* {
  box-sizing: border-box;
}

.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 100hw;
  height: 50vw;
  font-size:1vw  
}
.timetable .accent-pink-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-pink-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
  transform: scale(1.05);
}
.timetable .accent-orange-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #eec08e, #dcee8e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-orange-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-green-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #bcee8e, #8eeea0);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-green-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-cyan-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8eeec0, #8edcee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-cyan-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
  transform: scale(1.05);
}
.timetable .accent-blue-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8ebcee, #a08eee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-blue-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-purple-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c08eee, #ee8edc);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-purple-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-brown-gradient {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f2b87e, #cc9864);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-brown-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(152, 118, 84, 0.3);
  transform: scale(1.05);
}
.timetable .weekend {
  background: #f5f5f5;
  color: #87a1ad;
}
.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-transform: uppercase;
  font-size: 12pxvw;
}
.timetable .week-names > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 0 0 #ECEFF1;
}
.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  font-size: 16pxvw;
}
.timetable .time-interval > div {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%vw;
  height: 100%vw;
  box-shadow: inset 0 1px 0 0 #ECEFF1;
}
.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.timetable .content > div {
  box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;
}
.views{
  width: 100%vw;
  height: 100%vw;
  font-size: 10pxvw;
  align-items: center;
  justify-content: center;
}